*, *::before, *::after {
   box-sizing : border-box;
   font-family: Gotham Rounded;
}

.hide{
 /*  display: none;*/
   visibility: hidden;
}

/*//maroua work*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav {
    height: 60px;
}
    

#put {
    margin: auto;
    width: 390px;
    border: 3px solid #333;
    padding: 63px;
    position: relative;
    left: -16px;
    top: 87px;
    height: 256px;
    border-radius: 12px;
    background-color: #000000b0;
    font-size: 17px;
 }
 
#coordinate {
   margin: auto;
    width: 392px;
    border: 3px solid #333;
    padding: 63px;
    position: relative;
    left: -16px;
    top: 87px;
    height: 319px;
    border-radius: 12px;
    background-color: #000000b0;
    font-size: 17px;
}

p{
  text-align: center;
  font-size: 25px;
  color:dimgray;
}
body{
  background-image: url('background.jpg');
  background-color: grey;
}

#enter,#save,#dec{
   border-radius: 12px;
   background-color:#f9c301;
   position: relative;
   left: -66px;
   top: -17px;
}

#signup,#login{
    border-radius: 12px;
   background-color:#f9c301;
   position: relative;
   left: 15px;
   top: -3px
}


#incomes{
    width: 271px;
    height: 235px;
    border: 1px solid rgb(16, 16, 15);
    top: 81px;
    color: yellow;
    font-size: 25px;
    background-color: rgb(35 33 33 / 87%);
    position: relative;
    right: 194px;
    border-radius: 50%;
}

#balance{
    width: 306px;
    height: 302px;
    border: 1px solid rgb(16, 16, 15);
    top: 81px;
    color: yellow;
    font-size: 25px;
    background-color: rgb(35 33 33 / 87%);
    position: relative;
    left: 513px;
    border-radius: 50%;

}

#expences{
    width: 271px;
    height: 235px;
    border: 1px solid rgb(16, 16, 15);
    top: 81px;
    color: yellow;
    font-size: 25px;
    background-color: rgb(35 33 33 / 87%);
    position: relative;
    left: 371px;
    border-radius: 50%;
}

#investdiv{
  position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 188px;
    height: 50px;
    left: 91px;
    top: 94px;
}
#Investment{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 59px;
    height: 25px;
    left: 6px;
    top: 13px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}
#pinvestment{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
   width: 25px;
   height: 25px;
   left: 91px;
   top: -20px;
   border: 25px;
}
#investmentin{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 46px;
    height: 20px;
    left: 17px;
    top: 12px;
    border-radius: 12px;
}
#addinvestment{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 40px;
    height: 20px;
    left: 24px;
    top: 16px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}

#salarydiv{
  position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 188px;
    height: 50px;
    left: 91px;
    top: 94px;
}
#Salary{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 59px;
    height: 25px;
    left: 6px;
    top: 13px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}
#psalary{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
   width: 25px;
   height: 25px;
   left: 91px;
   top: -20px;
   border: 25px;
}
#salaryin{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 46px;
    height: 20px;
    left: 17px;
    top: 12px;
    border-radius: 12px;
}
#addsalary{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 40px;
    height: 20px;
    left: 24px;
    top: 16px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}

#Foordiv{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 188px;
    height: 50px;
    left: 884px;
    top: 55px;
}
#Food{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 59px;
    height: 25px;
    left: 6px;
    top: 13px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}
#pfood{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
   width: 25px;
   height: 25px;
   left: 91px;
   top: -20px;
   border: 25px;
}
#foodin{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 46px;
    height: 20px;
    left: 17px;
    top: 12px;
    border-radius: 12px;
}
#addfood{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 40px;
    height: 20px;
    left: 24px;
    top: 16px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;

}



#traveldiv{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 188px;
    height: 50px;
    left: 884px;
    top: 55px;
}
#Travelling{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 83px;
    height: 25px;
    left: 6px;
    top: 12px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}
#ptravelling{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
   width: 25px;
   height: 25px;
   left: 91px;
   top: -20px;
   border: 25px;
}
#Travellingin{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 46px;
    height: 20px;
    left: 6px;
    top: 12px;
    border-radius: 12px;
}
#addTravelling{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 40px;
    height: 20px;
    left: 7px;
    top: 16px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;

}


#clothesdiv{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 188px;
    height: 50px;
    left: 884px;
    top: 55px;
}
#Clothes{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 83px;
    height: 25px;
    left: 6px;
    top: 12px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}
#pclothes{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
   width: 25px;
   height: 25px;
   left: 91px;
   top: -20px;
   border: 25px;
}
#clothesin{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 46px;
    height: 20px;
    left: 6px;
    top: 12px;
    border-radius: 12px;
}
#addclothes{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 40px;
    height: 20px;
    left: 7px;
    top: 16px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}

#beautydiv{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 188px;
    height: 50px;
    left: 884px;
    top: 55px;
}
#Beauty{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 83px;
    height: 25px;
    left: 6px;
    top: 12px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}
#pbeauty{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
   width: 25px;
   height: 25px;
   left: 91px;
   top: -20px;
   border: 25px;
}
#beautyin{
    position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 46px;
    height: 20px;
    left: 6px;
    top: 12px;
    border-radius: 12px;
}
#addbeauty{
   position: relative;
    border: 1px solid rgb(16, 16, 15);
    width: 40px;
    height: 20px;
    left: 7px;
    top: 16px;
    border-radius: 12px;
    background-color: #23211ec2;
    color: #bebf72;
    font-size: 16px;
}




#parid{
   position: relative;
   top: 43px;
}


.style{
   color: white;
}

#expencesComptes{
   border: 3px;
   position: relative;
   left: 30px;
}

#incomeComptes{
   border: 3px;
   position: relative;
   left: 30px;
}