*, *::before, *::after {
   box-sizing : border-box;
   font-family: Gotham Rounded;
}

#user{
   
   background-color: #ffc107db;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 5px 10px #888888;
   position: relative;
   left: 1186px;
   top: -190px;
   height: 180px
}

.hide{
   display: none;
}


#userpassword{
   position: relative;
   top: 100px;
}

#balance{
   position: relative;
    left: 543px;
    width: 255px;
    height: 147px;
    border: 1px solid blue;
    top: -36px;
}

#incomes{
position: relative;
    left: 3px;
    width: 255px;
    height: 147px;
    border: 1px solid blue;
    top: -36px;
}

#expences{
   position: relative;
    left: 324px;
    width: 255px;
    height: 147px;
    border: 1px solid blue;
    top: -36px;
}

#user {
    background-image: url(img.jpg);
    background-color: black;
    border-radius: 2px;
    padding: 8px;
    position: relative;
    left: 1051px;
    top: -189px;
    height: 181px;
}
    
.image{
    position: relative;
    left: 718px;
    width: 100px;
  height: 100px;
}
#incomeComptes{
  color: 
}
/*//maroua work*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 5.428571;
    color: #333;
    }
.topnav {
    height: 60px;
}
    
#enter{
  height: 30px
}
#save{
  height:30px
}
#Investment,#Food,#Travelling,#Tools,#Clothes,#Beauty,#Maintains{
  text-align: center;
  font-size: 20px;
  color: grey;
}
#salary{
   text-align: center;
  font-size: 20px;
  color: grey;
}
.image {
    display: block;
    width: 47%;
    height: 230px;
}

.image {
    position: relative;
    left: 365px;
    width: 500px;
    height: 241px;
    border: 10px solid yellow;
}
#coordinate{
    margin: auto;
    width: 17%;
    border: 3px solid #333;
    padding: 8px;
}

}

.erftgg{

}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#put{
    margin: auto;
    width: 17%;
    border: 3px solid #333;
    padding: 8px;
}

#beautydiv{
   height: 20px;
   weight: 20px;
   position: relative;
   left: 100px;
}
